/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   .clearfix:after {
       clear: both;
   }

/***** Base Styles *****/
@import url('http://fast.fonts.net/t/1.css?apiType=css&projectid=83e20145-0d49-400a-a25a-d4ca0fc7eb70');

@font-face{
  font-family:'Century Gothic W01';
  src:url('../fonts/bd45538f-4200-4946-b177-02de8337032d.eot?#iefix');
  src:url('../fonts/bd45538f-4200-4946-b177-02de8337032d.eot?#iefix') format('eot'),
      url('../fonts/700cfd4c-3384-4654-abe1-aa1a6e8058e4.woff2') format('woff2'),
      url('../fonts/9908cdad-7524-4206-819e-4f345a666324.woff') format('woff'),
      url('../fonts/b710c26a-f1ae-4fb8-a9fe-570fd829cbf1.ttf') format('truetype'),
      url('../fonts/c9e387df-c0d3-42e1-8de6-78c41f68594c.svg#c9e387df-c0d3-42e1-8de6-78c41f68594c') format('svg');
}

@font-face{
  font-family:'Cochin LT W01 Roman';
  src:url('../fonts/e9629ae5-602d-470a-bfc2-10c259148d73.eot?#iefix');
  src:url('../fonts/e9629ae5-602d-470a-bfc2-10c259148d73.eot?#iefix') format('eot'),
      url('../fonts/312cf419-a802-4e55-95d2-74831266bf0e.woff2') format('woff2'),
      url('../fonts/19aa2c99-ffe2-4055-9594-b975611e55a8.woff') format('woff'),
      url('../fonts/c28d2ce9-4c38-4291-bc88-4ed91698555a.ttf') format('truetype'),
      url('../fonts/ac131188-5767-4934-80ae-19ecb62f0a45.svg#ac131188-5767-4934-80ae-19ecb62f0a45') format('svg');
}

@font-face{
    font-family:'Natural Script W00 Regular';
    src:url('../fonts/3cc5cf8c-cbd9-4207-9feb-f0b6e6a5cd2d.eot?#iefix');
    src:url('../fonts/3cc5cf8c-cbd9-4207-9feb-f0b6e6a5cd2d.eot?#iefix') format('eot'),
        url('../fonts/e2092c9f-512b-49b6-b9a6-7d5990fa9f15.woff2') format('woff2'),
        url('../fonts/a8a71063-f71e-4026-b9b8-915c34256bf4.woff') format('woff'),
        url('../fonts/12c6a6b0-b50d-48d2-bc96-f4d2fd322434.ttf') format('truetype'),
        url('../fonts/3e4bc75f-7812-4307-9322-967a0851ec27.svg#3e4bc75f-7812-4307-9322-967a0851ec27') format('svg');
}
@font-face{
    font-family:'Natural Script Bold W001405414';
    src:url('../fonts/f0721d4e-83fd-4d67-9e63-3f5d0038cbfa.eot?#iefix');
    src:url('../fonts/f0721d4e-83fd-4d67-9e63-3f5d0038cbfa.eot?#iefix') format('eot'),
        url('../fonts/420f9f64-8e6d-461b-8b2a-268d1c770ac4.woff2') format('woff2'),
        url('../fonts/360f533f-92f0-45a1-a02a-68479ac80492.woff') format('woff'),
        url('../fonts/e4bd1315-1f00-42d8-af1e-43d1ccd178be.ttf') format('truetype'),
        url('../fonts/4ac95d38-d78c-433d-a96f-a5395957f1b8.svg#4ac95d38-d78c-433d-a96f-a5395957f1b8') format('svg');
}

@font-face{
    font-family:"SegoeScriptW01-Regular";
    src:url("Fonts/9d5bc590-16ac-448d-9304-3fd6d144be13.eot?#iefix");
    src:url("Fonts/9d5bc590-16ac-448d-9304-3fd6d144be13.eot?#iefix") format("eot"),url("Fonts/e820e1ab-8906-42be-99b1-548e2535d601.woff2") format("woff2"),url("Fonts/b4b7cb0f-71f7-4bb2-8e3e-ce8ac58b4d34.woff") format("woff"),url("Fonts/f7cab7ee-0ffa-4f55-bff8-8efc9e7d43ec.ttf") format("truetype"),url("Fonts/9ec13400-7da6-422c-a894-daf37f6acba7.svg#9ec13400-7da6-422c-a894-daf37f6acba7") format("svg");
}
@font-face{
    font-family:'Segoe Script W01 Bold904831';
    src:url('../fonts/5d84832f-16a2-4e3a-9271-05b3fd419de5.eot?#iefix');
    src:url('../fonts/5d84832f-16a2-4e3a-9271-05b3fd419de5.eot?#iefix') format('eot'),
        url('../fonts/68d12691-47e9-4444-bf0e-fc517f0b6537.woff2') format('woff2'),
        url('../fonts/c3e6fbc6-9220-401a-a0e6-a97df12c3c9b.woff') format('woff'),
        url('../fonts/a37f2203-8f0c-4cc8-a931-a2d90597a4d9.ttf') format('truetype'),
        url('../fonts/39d99906-9e02-42d2-82a1-0d3ea05ca496.svg#39d99906-9e02-42d2-82a1-0d3ea05ca496') format('svg');
}
@font-face{
    font-family:"Segoe Script W01 Regular";
    src:url("Fonts/d12a15bc-ba51-426e-940c-b8be0d6f52d7.eot?#iefix");
    src:url("Fonts/d12a15bc-ba51-426e-940c-b8be0d6f52d7.eot?#iefix") format("eot"),url("Fonts/6dbae2a4-0cee-4825-ba0c-f531dc8325c6.woff2") format("woff2"),url("Fonts/b87901d2-3866-4644-8762-d2f329e4e5b3.woff") format("woff"),url("Fonts/be77aed5-c3e4-4dd1-a08b-14a38f7d33da.ttf") format("truetype"),url("Fonts/8f828d3f-94c5-43b4-b23a-879d26294219.svg#8f828d3f-94c5-43b4-b23a-879d26294219") format("svg");
}

@font-face{
    font-family:'Banana W01 Regular';
    src:url('../fonts/7072c29b-515c-4107-820d-b9c69a20fc8a.eot?#iefix');
    src:url('../fonts/7072c29b-515c-4107-820d-b9c69a20fc8a.eot?#iefix') format('eot'),
        url('../fonts/79017506-6b11-4a49-b12d-827fc04c9564.woff2') format('woff2'),
        url('../fonts/e8424539-bf51-4ec6-93bc-0085581a0533.woff') format('woff'),
        url('../fonts/1b970a26-3ff1-42e2-bb01-f3b6621c61a7.ttf') format('truetype'),
        url('../fonts/fd5e2fd2-e5f1-4b0f-9aa8-bbc164976253.svg#fd5e2fd2-e5f1-4b0f-9aa8-bbc164976253') format('svg');
}

@font-face{
    font-family:'Rosie W01 Regular';
    src:url('../fonts/07c95398-7693-4117-b830-027274333c1b.eot?#iefix');
    src:url('../fonts/07c95398-7693-4117-b830-027274333c1b.eot?#iefix') format('eot'),
        url('../fonts/c65b17a5-cfb3-4c1b-8d01-cb96d3f03e40.woff2') format('woff2'),
        url('../fonts/c45ba439-b71c-4284-b746-82fcad93b1fa.woff') format('woff'),
        url('../fonts/610b4419-5d4b-4180-b750-89697b975427.ttf') format('truetype'),
        url('../fonts/e40066be-3cea-4221-b7d6-d7c804e6be87.svg#e40066be-3cea-4221-b7d6-d7c804e6be87') format('svg');
}

/***** ======= MOBILE FIRST ======= *****/

/***** ======= MOBILE small - iphone 5 ======= *****/
  /***** HOME *****/
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.home-body {
  font-family: 'Quicksand', sans-serif;
  background: url('../img/logo-green.gif'), url('../img/corner-sketch.gif');
  background-repeat: no-repeat, no-repeat;
  background-attachment: scroll, scroll;
  background-size: 28%, 61%;
  background-position: 10px 10px, -29px 0px;
}

.corner-body {
  font-family: 'Quicksand', sans-serif;
  background: url('../img/logo-green.gif'), url('../img/corner-sketch.gif');
  background-repeat: no-repeat, no-repeat;
  background-attachment: scroll, scroll;
  background-size: 28%, 61%;
  background-position: 10px 10px, -29px 0px;
}


.background-owl {
  background: url('../img/wise-web-owl.gif');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 94%;
  background-position: -62px 25px;
}

.background-corner {
  background: url('../img/logo-green.gif'), url('../img/corner-sketch.gif');
  background-repeat: no-repeat, no-repeat;
  background-attachment: scroll, scroll;
  background-size: 28%, 61%;
  background-position: 10px 10px, -29px 0px;
}

.background-corner:hover {
  background-size: 61%;
}

.owl {
  background: url('../img/wise-web-owl.gif');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 94%;
  background-position: -62px 25px;
}

.background {
  height: 830px;
  background: url('../img/corner-sketch.gif');
  background-repeat: no-repeat;
  background-color: #ffffff;
}

/***** Special class's and id's *****/
.black {
  color: #000000;
  text-decoration: none;
}

.grey-text{
  color:#808285;
  text-decoration: none;
}

/*****  COLORS =================
        70% grey color: #6d6e71;
        60% grey color: #808285;
        white: #ffffff;
        purple: #dfcde4;
        green: #72b648;
        deep-blue-purple: #211E53;
========================== *****/

/*** mouse over link ***/
a:hover {
  color: #72b648;
}

/***** MOBILE NAV & HEADER *****/
.logo {
  display: none;
}

.mobile-nav-icon {
  float: right;
  padding: 0 3px 0 0;
}

hr {
  border-top: 2px solid #808080;
	border-bottom: 1px solid #fff;
  width: 30px;
  margin-bottom: -13px;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #ffffff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 13px 13px 13px rgba(0,0,0,0.3);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 10px 42px 10px 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: #72b648;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #ffffff;
}

.dropdown-content nav ul {
    text-align: center;
}

.dropdown-content nav ul li{
    display: inline-block;
}

.dropdown-content nav ul li a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    text-transform: lowercase;
    text-decoration: none;
    font-size: 22px;
    color: #828282;
}

.dropdown-content #nav-on-page {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  text-transform: lowercase;
  text-decoration: none;
  font-size: 22px;
  color: #72b648;
  padding: 10px auto;
}

.horizontal-nav nav {
  display: none;
}


/***** MOBILE 1st HOME PAGE | iPhone5*****/

#home {
  height: 100%;
  width: 100%;
  padding-top: 10px;
  border-bottom: 1px solid #000000;
}


#home h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 100px;
    line-height: 100px;
    color: #dfcde4;
    padding-left: 47px;
    padding-top: 55px;
}

#home h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 38px;
  font-weight: 300;
  color: #000000;
  line-height: 30px;
  text-align: right;
  text-decoration: none;
}

#home ul li a {
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  font-size: 19px;
  color: #000000;
  text-decoration: none;
}

.hello-mobile {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  margin: 0;
}

.owl-home {
  display: inline-flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  margin: 0;
}

.owl-mobile {
  display: flex;
  height: 100%;
  width: 110%;
  margin: 0;
  flex: 1;
}

.owl-mobile img {
  display: flex;
  height: 100%;
  width: 91%;
  margin: -37px 0 0 0;
}

.owl-tablet img {
    display: none;
}

.vertical-header {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  min-height: 370px;
  margin: 0;
  flex: 0;
}

.developer-designer-illustrator-mobile {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-between;
}

.developer-designer-illustrator-mobile-text {
    display: flex;
    writing-mode: vertical-rl;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform:rotate(1800deg);
    transform: rotate(180deg);
    white-space: nowrap;
    bottom: 0;
    width: 20px;
    padding-top: 2px;
    padding-left: 13.3px;
    font-family: 'Quicksand', sans-serif;
    font-size: 25.5px;
    font-weight: 300;
    color: #fec769;
    line-height: 0px;
    text-align: left;
    text-decoration: none;
    word-spacing: 1.5px;
}

.little-bit-info {
  float: right;
  margin: 0 19.5px;
}

#home .little-bit-info .email-homepage {
    float: right;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #1b1464;
    line-height: 18px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: -3px;
    text-align: right;
    text-decoration: none;
}

#home .little-bit-info p {
  float: right;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #828282;
  line-height: 18px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 7px;
  text-align: justify;
  text-decoration: none;
}

.little-bit-info-large-mobile {
  display: none;
}

.hello {
  display: none;
}

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

footer .half-width {
  display: flex;
  align-items: center;
}

#footer-border {
  margin: 0;
}

#footer-no-border {
  margin: 0;
}

#footer-border .copyright {
  width: 100%;
  padding: 0;
  margin: 0;
}

#footer-no-border .copyright {
  width: 100%;
  padding: 0;
  margin: 0;
}

#footer-border .copyright p {
  font-size: 14px;
  line-height: 16px;
  padding: 7.5px 0 0 3px;
  margin: 0;
}

#footer-no-border .copyright p {
  font-size: 14px;
  line-height: 16px;
  padding: 7.5px 0 0 3px;
  margin: 0;
}

.social-media {
  width: 100%;
  padding: 0;
  margin: 0;
}

#footer-border ul {
  display: inline-block;
  float: right;
  margin: 10px 0;
  padding: 0;
}

#footer-no-border ul {
  display: inline-block;
  float: right;
  margin: 10px 0;
  padding: 0;
}

#footer-border ul li {
  float: right;
  display: inline-block;
}

#footer-no-border ul li {
  float: right;
  display: inline-block;
}

#footer-border ul li a {
  font-size: 14.3px;
  color: #000000;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
}

#footer-no-border ul li a {
  font-size: 14.3px;
  color: #000000;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
}

#footer-border .email {
  display: none;
}

#footer-no-border .email {
  display: none;
}

/***** ======= MOBIlE | ABOUT PAGE ======= *****/

#about {
  width: 100%;
  border-bottom: 1px solid #000000;
}

.fifth-width-about {
  width: 100%;
  float: left;
}

.jessica-mcintosh-vertical {
  float: right;
  padding-right: 19px;
}

.vertical {
  display: block;
  bottom:0;
  width:100%;
  padding-top: 15px;
  padding-bottom: 5px;
}

#about h1 {
  font-family:'Natural Script Bold W001405414';
  font-size: 30px;
  font-weight: bold;
  color: #DFCDE4;
  line-height: 10px;
  margin-bottom: 10px;
}

.four-fifths-width-work {
  width: 100%;
  float: left;
}

.mobile-img-set-top {
  display: none;
}

.work-bracket-div {
  width: 5%;
  padding-left: 60px;
  display: inline-block;
  float: left;
}

.giant-bracket-work {
  font-family:'Cochin LT W01 Roman';
  font-size: 217px;
  line-height: 125px;
  margin-left: -30px;
  color: #bbbdc0;
}

.work-vertical {
  display: inline-block;
  font-size: 18px;
  margin-left: 13.5px;
  margin-top: -93px;
  transform: rotate(270deg);
  white-space: nowrap;
  display: block;
  color: #fff;
}

.about-wording-section-work {
  display: inline-block;
  width: 64%;
  float: left;
  padding-left: 15px;
}

.work-info-small-mobile {
  display: inline-block;
  width: 100%;
  float: left;
  padding-left: 3px;
}

.work-info-mobile {
  display: none;
}

.work-info {
  display: none;
}

#about p {
  font-size: 10px;
  line-height: 12px;
  text-decoration: none;
  color: #828282;
}

/***** Graphic Designer *****/
.dark-purple-blue {
  color: #262261;
  font-size: 17px;
  line-height: 5px;
  margin-top: 0px;
}

/***** Illustrator *****/
.true-purple {
  color: #652C90;
  font-size: 17px;
  line-height: 8px;
}

/***** Front End Developer *****/
.bright-purple {
  color: #91268F;
  font-size: 17px;
  line-height: 8px;
}

/***** Web Designer *****/
.warm-purple {
  color: #9E1E62;
  font-size: 17px;
  line-height: 8px;
}

/***** HTML *****/
.cool-red {
  color: #D91B5B;
  font-size: 17px;
  line-height: 8px;
}

/***** CSS *****/
.red {
  color: #ED1C24;
  font-size: 17px;
  line-height: 8px;
}

/***** Javascript *****/
.red-orange {
  color: #F05A28;
  font-size: 17px;
  line-height: 8px;
}

/***** Responsive Development *****/
.orange {
  color: #F7931D;
  font-size: 17px;
  line-height: 8px;
}

.about-img-block-work {
  display: none;
}

.four-fifths-width-home {
  width: 100%;
  float: left;
  margin-top: 13px;
  margin-bottom: 3px;
}

.mobile-img-set-bottom {
  display: none;
}

.home-bracket-div-mobile {
  width: 5%;
  padding-left: 60px;
  display: inline-block;
  float: left;
}

.home-bracket-div {
  display: none;
}

.about-wording-section-home {
  display: inline-block;
  width: 64%;
  float: left;
  padding-left: 15px;
}

.giant-bracket-home {
  font-family:'Cochin LT W01 Roman';
  font-size: 217px;
  line-height: 125px;
  margin-left: -30px;
  color: #bbbdc0;
}

.home-vertical {
  font-size: 18px;
  margin-left: 13.5px;
  margin-top: -93px;
  transform: rotate(270deg);
  white-space: nowrap;
  display: block;
  color: #fff;
}

.home-info-small-mobile {
  display: inline-block;
  width: 100%;
  float: left;
  padding-left: 3px;
}

.home-info-mobile {
  display: none;
}

.home-info {
  display: none;
}

/***** Wife *****/
.green {
  color: #38B449;
  font-size: 17px;
  line-height: 5px;
  margin-top: 0px;
}

/***** Mother *****/
.blue-green {
  color: #00A79D;
  font-size: 17px;
  line-height: 8px;
}

/***** Proud USAF Sister *****/
.blue {
  color: #1B75BB;
  font-size: 17px;
  line-height: 8px;
}

/***** Play *****/
.colbalt-blue {
  color: #2A388F;
  font-size: 17px;
  line-height: 8px;
}

/***** Creative Dreamer *****/
.true-purple-home {
  color: #652C90;
  font-size: 17px;
  line-height: 8px;
}

.about-img-block-home {
  display: none;
}


/***** ======= MOBIlE | PORTFOLIO MAIN PAGE ======= *****/

#portfolio .full-width {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  padding-top: 63px;
}

#portfolio .quarter-width{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background: #e6ffe6;
  width: 92.5%;
  height: 88px;
  border: solid;
  border-color: #000000;
  border-width: 2px;
  margin: 1.5% 3%;
}

#portfolio .full-width a {
  text-decoration: none;
}
.illustration-mobile {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  /* background: url('../img/illustration-block-gray-img.png'); */
}

.illustration {
  display: none;
}

.i-block-initial {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 28px;
  padding-bottom: 3px;
}

.i {
  font-family: 'Fredericka the Great', cursive;
  font-size: 63px;
  line-height: 65px;
  font-weight: 600;
  color: #000000;
  padding-left: 13px;
}

.i-block-letters{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 195px;
  padding-bottom: 3px;

}

.i-word-continuation {
  font-family: 'Quicksand', sans-serif;
  font-size: 27px;
  font-weight: 300;
  color: #000000;
  padding-left: 10px;
}

.logo-design-mobile {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  /* background: url('../img/logo-design-block-gray-img.png'); */
  /* background-repeat: no-repeat;
  height: 88px; */
}

.logo-design {
  /* background: url('../img/logo-design-block-gray-img.png'); */
  display: none;
}

.ld-block-initial {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 38px;
  padding: 0 0 3px 0;
}

.ld-l {
  font-family: 'Fredericka the Great', cursive;
  font-size: 63px;
  font-weight: 600;
  line-height: 65px;
  color: #000000;
  padding-left: 13px;
  float: left;
}

.ld-d {
  font-family: 'Fredericka the Great', cursive;
  font-size: 63px;
  font-weight: 600;
  line-height: 65px;
  color: #000000;
  padding-left: 11px;
  float: left;
}

.ld-block-letters{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 3px;
}

.logo-word-continuation {
  font-family: 'Quicksand', sans-serif;
  font-size: 27px;
  font-weight: 300;
  color: #000000;
  padding-left: 0px;
}

.l-design-word-continuation {
  font-family: 'Quicksand', sans-serif;
  font-size: 27px;
  font-weight: 300;
  color: #000000;
  float: left;
  padding-left: 11.5px;
}

.web-design-mobile {
  /* background: url('../img/web-design-image-block-gray-img.png');
  background-repeat: no-repeat;
  background-color: #ffffff; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.web-design {
  display: none;
}

.wd-block-initial {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 38px;
  padding: 0 0 3px 0;
}

.wd-w {
  font-family: 'Fredericka the Great', cursive;
  font-size: 63px;
  font-weight: 600;
  line-height: 65px;
  color: #000000;
  padding-left: 13px;
}

.wd-d {
  font-family: 'Fredericka the Great', cursive;
  font-size: 63px;
  font-weight: 600;
  line-height: 65px;
  color: #000000;
  padding-left: 11px;
}

.wd-block-letters{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 3px;
}

.web-word-continuation {
  font-family: 'Quicksand', sans-serif;
  font-size: 27px;
  font-weight: 300;
  color: #000000;
  padding-left: 14px;
}

.w-design-word-continuation {
  font-family: 'Quicksand', sans-serif;
  font-size: 27px;
  font-weight: 300;
  color: #000000;
  padding-top: 49px;
  padding-left: 12px;
}

.digital-illustration-mobile {
  /*  background: url('../img/digital-image-block-gray-img.png');
  background-repeat: no-repeat;
  background-color: #ffffff;  */
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 3px;
}

.digital-illustration {
  display: none;
}

.di-block-initial {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 34px;
  padding-left: 0px;
}

.di-d {
  font-family: 'Fredericka the Great', cursive;
  font-size: 63px;
  font-weight: 600;
  line-height: 65px;
  color: #000000;
  padding-left: 11px;
}

.di-i {
  font-family: 'Fredericka the Great', cursive;
  font-size: 63px;
  font-weight: 600;
  line-height: 65px;
  color: #000000;
  padding-left: 10px;
}

.di-block-letters{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.digital-word-continuation {
  font-family: 'Quicksand', sans-serif;
  font-size: 27px;
  font-weight: 300;
  color: #000000;
  padding-left: 16px;
}

.d-illustration-word-continuation {
  font-family: 'Quicksand', sans-serif;
  font-size: 27px;
  font-weight: 300;
  color: #000000;
  padding-left: 0px;
}




/***** END MOBILE FIRST *****/

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   /***** ======= LARGE MOBILE TWEAKS ======= *****/
   @media screen and (min-width:360px) {
     /*larger mobile styles set 1 Galaxy S5*/

   .owl-mobile img {
        width: 91%;
        margin: -41px 0 0 0;
   }

   .vertical-header {
        min-height: 423px;
        padding-bottom: 0px;
   }

   .developer-designer-illustrator-mobile-text {
        font-size: 29px;
        padding-top: 3px;
   }

   #home .little-bit-info .email-homepage {
        font-size: 19px;
        padding-top: 1.5px;
        padding-bottom: 1.5px;
   }

   #home .little-bit-info p {
        font-size: 17px;
        line-height: 21px;
        padding-bottom: 2px;
   }

   .little-bit-info-large-mobile {
     display: none;
   }

   #footer-border ul li a {
        font-size: 17px;
   }

   /*** ABOUT | min-width:360px ***/
   .vertical {
     padding-top: 31px;
     padding-bottom: 7px;
   }

   #about h1 {
     font-size: 31px;
   }

   .four-fifths-width-work {
     width: 100%;
     padding-left: 0px;
     float: left;
   }

   .mobile-img-set-top {
     display: inline-block;
     width: 20%;
     height: 100px;
     float: left;
     margin: 15% 4% 0 5%;
     background-color: lightgrey;
     border: 1px solid #000000;
   }

   .work-bracket-div {
     padding-left: 0;
   }

   .giant-bracket-work {
     font-size: 243px;
     line-height: 150px;
     margin-left: -30px;
   }

   .work-vertical {
     font-size: 18px;
     margin-left: 20px;
     margin-top: -107px;
   }

   .about-wording-section-work {
     display: inline;
     width: 58%;
     padding-left: 15px;
   }

   .work-info-small-mobile {
     display: none;
   }

   .work-info-mobile {
     display: inline-block;
     width: 100%;
     padding-left: 7px;
   }

   .work-info {
     display: none;
   }

   #about p {
     font-size: 10px;
     line-height: 12px;
   }

   /***** Graphic Designer *****/
   .dark-purple-blue {
     line-height: 13.4px;
   }

   /***** Illustrator *****/
   .true-purple {
     line-height: 9.2px;
   }

   /***** Front End Developer *****/
   .bright-purple {
     line-height: 9.2px;
   }

   /***** Web Designer *****/
   .warm-purple {
     line-height: 9.2px;
   }

   /***** HTML *****/
   .cool-red {
     line-height: 9.2px;
   }

   /***** CSS *****/
   .red {
     line-height: 9.2px;
   }

   /***** Javascript *****/
   .red-orange {
     line-height: 9.2px;
   }

   /***** Responsive Development *****/
   .orange {
     line-height: 9.2px;
   }

   .about-img-block-work {
     display: none;
   }

   .four-fifths-width-home {
     width: 100%;
     padding-left: 0px;
     margin-top: 14px;
     margin-bottom: 11px;
   }

   .mobile-img-set-bottom {
     display: inline-block;
     width: 20%;
     height: 100px;
     float: left;
     margin: 15% 4% 0 5%;
     background-color: lightgrey;
     border: 1px solid #000000;
   }

   .home-bracket-div-mobile {
     padding-left: 0;
   }

   .about-wording-section-home {
     display: inline;
     width: 58%;
     padding-left: 15px;
   }

   .giant-bracket-home {
     font-size: 243px;
     line-height: 150px;
     margin-left: -30px;
   }

   .home-vertical {
     font-size: 18px;
     margin-left: 20px;
     margin-top: -101px;
   }

   .home-info-small-mobile {
     display: none;
   }

   .home-info-mobile {
     display: inline-block;
     width: 100%;
     padding-left: 7px;
   }

   .home-info {
     display: none;
   }

   /***** Wife *****/
   .green {
     line-height: 13px;
   }

   /***** Mother *****/
   .blue-green {
     line-height: 9.2px;
   }

   /***** Proud USAF Sister *****/
   .blue {
     line-height: 9.2px;
   }

   /***** Play *****/
   .colbalt-blue {
     line-height: 9.2px;
   }

   /***** Creative Dreamer *****/
   .true-purple-home {
     line-height: 9.2px;
   }

   .about-img-block-home {
     display: none;
   }

    /***** PORTFOLIO | min-width:360px *****/

   .i {
     font-size: 100px;
     line-height: 80px;
     padding-top: 40px;
   }

   .i-word-continuation {
     font-size: 38px;
     line-height: 12px;
     padding-top: 77px;
     padding-right: 21px;
   }

   .ld-l {
     font-size: 72px;
     line-height: 72px;
     padding-top: 17px;
     padding-left: 23px;
   }

   .ld-d {
     font-size: 72px;
     line-height: 72px;
     padding-top: 16px;
     padding-left: 15px;
   }

   .logo-word-continuation {
     font-size: 38px;
     line-height: 30px;
     padding-top: 49px;
     padding-left: 11px;
   }

   .l-design-word-continuation {
     font-size: 38px;
     line-height: 30px;
     padding-top: 49px;
     padding-left: 19px;
   }

   .wd-w {
     font-size: 72px;
     line-height: 72px;
     padding-top: 17px;
     padding-left: 23px;
   }

   .wd-d {
     font-size: 72px;
     line-height: 72px;
     padding-top: 16px;
     padding-left: 15px;
   }

   .web-word-continuation {
     font-size: 38px;
     line-height: 30px;
     padding-top: 51px;
     padding-left: 31px;
   }

   .w-design-word-continuation {
     font-size: 38px;
     line-height: 30px;
     padding-top: 49px;
     padding-left: 19px;
   }

   .di-d {
     font-size: 72px;
     line-height: 72px;
     padding-top: 30px;
   }

   .di-i {
     font-size: 72px;
     line-height: 60px;
     padding-top: 35px;
     padding-left: 10px;
   }

   .digital-word-continuation {
     font-size: 38px;
     line-height: 30px;
     padding-top: 27px;
     padding-right: 125px;
   }

   .d-illustration-word-continuation {
     font-size: 38px;
     line-height: 30px;
     padding-top: 43px;
     padding-right: 29px;
   }
}


@media screen and (min-width:375px) {
  /*larger mobile styles set 2 iPhone6*/

    .vertical-header {
        min-height: 443px;
    }

    #home .little-bit-info .email-homepage {
        font-size: 20px;
    }

    .little-bit-info-large-mobile {
      display: none;
    }

    /*** ABOUT | min-width:375px ***/
    .vertical {
      padding-top: 45px;
      padding-bottom: 7px;
    }

    #about h1 {
      font-size: 33px;
    }

    .four-fifths-width-home {
      margin-top: 17px;
      margin-bottom: 15px;
    }
}

@media screen and (min-width:412px) {
  /*larger mobile styles set 3 & Nexus 5x Nexus 6P & iPhone 6 Plus (414 screen width) */
  .owl-mobile {
      display: none;
  }

  .owl-tablet {
      display: flex;
      height: 100%;
      width: 100%;
      margin: 0;
  }

  .owl-tablet img {
      display: flex;
      height: 100%;
      margin: -35px 0 0 0;
      width: 92%;
  }

  .owl-mobile img {
      width: 87%;
      margin: 0;
  }

  .vertical-header {
      min-height: 465px;
      padding-left: 7px;
  }

  .developer-designer-illustrator-mobile-text {
      letter-spacing: 1.3px;
  }

  .little-bit-info {
      display: none;
  }

  #home .little-bit-info-large-mobile {
      display: block;
      float: right;
      margin: 0 19.5px;
  }

  #home .little-bit-info-large-mobile .email-homepage {
      float: right;
      font-family: 'Quicksand', sans-serif;
      font-size: 20.5px;
      font-weight: 300;
      color: #1b1464;
      line-height: 18px;
      padding-top: 2px;
      padding-bottom: 3px;
      margin-top: 0px;
      margin-bottom: -3px;
      text-align: right;
      text-decoration: none;
  }

  #home .little-bit-info-large-mobile p {
    float: right;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #828282;
    line-height: 22px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 7px;
    text-align: justify;
    text-decoration: none;
  }

  /*** ABOUT | min-width: 412px ***/
  .vertical {
    padding-top: 49px;
    padding-bottom: 11px;
  }

  #about h1 {
    font-size: 37px;
  }

  #about p {
    font-size: 12px;
    line-height: 14.5px;
  }

  .mobile-img-set-top, .mobile-img-set-bottom {
    margin: 15% 3% 0 4%;
  }

  .four-fifths-width-home {
    margin-top: 23px;
    margin-bottom: 17px;
  }

  .giant-bracket-work {
    font-size: 275px;
    line-height: 166px;
  }

  .giant-bracket-home {
    font-size: 275px;
    line-height: 164px;
  }

  .work-vertical {
    font-size: 21px;
    margin-left: 25.8px;
    margin-top: -121px;
  }

  .home-vertical {
    font-size: 21px;
    margin-left: 25.8px;
    margin-top: -111px;
  }

  .work-info-mobile, .home-info-mobile {
    padding-left: 13px;
  }

  /***** ABOUT | WORK HEADERS IN THE BRACKET *****/
  .true-purple, .bright-purple, .warm-purple, .cool-red, .red, .red-orange, .orange {
    line-height: 11px;
  }



  /*** FOOTER-SECTION | min width: 412px ***/

  #footer-border .half-width .copyright {
    padding-left: 7px;
  }

  #footer-border ul {
      margin-right: 7px;
  }
}

/***** ======= END LARGE MOBILE ======= *****/

/***** ======= TABLETS ======= *****/
@media screen and (min-width: 768px) {
  .home-body {
    background-size: 19%, 45.5%;
    background-position: 5% 2.5%, -29px 0px;
  }

  .corner-body {
    background-size: 19%, 45.5%;
    background-position: 5% 2.5%, -29px 0px;
  }

  hr {
    border-top: 2px solid #808080;
  	border-bottom: 1px solid #fff;
    width: 50px;
    margin-bottom: -9px;
  }

  .owl-mobile img {
    display: none;
  }

  .owl-tablet {
    display: flex;
    height: 100%;
    width: 110%;
    margin: 0;
  }

  .owl-tablet img {
    display: flex;
    height: 100%;
    margin: -59px 0 0 0;
    width: 76%;
  }

  .vertical-header {
    min-height: 740px;
    padding-top: 15px;
    padding-bottom: 7px;
  }

  .developer-designer-illustrator-mobile-text {
    width: 40px;
    padding-left: 0px;
    font-size: 50px;
    line-height: 0px;
  }

  #home .little-bit-info-large-mobile .email-homepage {
    font-size: 30px;
    padding: 5px 0 11px 0;
  }

  #home .little-bit-info-large-mobile {
    margin-bottom: 0;
  }

  #home .little-bit-info-large-mobile p {
    font-size: 22.4px;
    line-height: 26px;
    padding-bottom: 11px;
    margin-bottom: 0;
  }

  /***** ABOUT PAGE | TABLET *****/

  .fifth-width-about {
    width: 8%;
    float: left;
    margin: 0;
  }

  #about h1 {
    font-size: 79px;
    font-weight: bold;
    color: #E6E7E8;
    line-height: 100px;
  }

  .jessica-mcintosh-vertical {
    width: 8%;
    float: left;
    padding: 33px 0 0 0;
  }

  .vertical {
    writing-mode: vertical-rl;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform:rotate(180deg);
    transform: rotate(180deg);
    white-space: nowrap;
    display: block;
    line-height: 0px;
    margin-top: 375px;
    margin-left: 69px;
    margin-bottom: 27px;
    padding: 0;
  }

  .four-fifths-width-work {
    float: left;
    width: 90%;
    margin-top: 125px;
  }

  .four-fifths-width-home {
    width: 90%;
  }

  .work-bracket-div {
    padding-top: 49px;
  }

  .giant-bracket-work {
    font-size: 405px;
  }

  .home-bracket-div {
    padding-top: 33px;
  }

  .giant-bracket-home {
    font-size: 405px;
  }

  .work-vertical {
    color: #ffffff;
    font-size: 30px;
    padding: 0;
    margin-top: -183px;
    margin-left: 54px;
  }

  .mobile-img-set-top {
    display: none;
  }

  .mobile-img-set-bottom {
    display: none;
  }

  .work-info-mobile {
    display: none;
  }

  .about-wording-section-work {
    float: left;
    padding-left: 55px;
    width: 55%;
  }

  .work-info {
    display: block;
    padding-top: 5px;
  }

  #about p {
    font-size: 15px;
    line-height: 18px;
  }

  .dark-purple-blue, .true-purple, .bright-purple, .warm-purple, .cool-red, .red, .red-orange, .orange {
    font-size: 22px;
  }

  .about-img-block-work {
    float: left;
    display: block;
    margin-top: 15px;
    width: 200px;
    height: 345px;
    background-color: grey;
    border: 1px solid #000;
  }

  .about-wording-section-home {
    float: right;
    width: 50%;
  }

  .home-bracket-div-mobile {
    display: none;
  }

  .home-bracket-div {
    display: block;
    float: right;
    width: 11.25%;
  }

  .home-vertical {
    color: #ffffff;
    font-size: 30px;
    margin-top: -205px;
    margin-left: 0;
    margin-right: 3px;
  }

  .home-info-mobile {
    display: none;
  }

  .home-info {
    display: block;
    text-align: right;
    float: right;
  }

  .green, .blue-green, .blue, .colbalt-blue, .true-purple-home {
    font-size: 22px;
  }

  .home-info {
    display: block;
    width: 100%;
    margin-top: -8px;
    margin-right: -3px;
    text-align: right;
    float: right;
    padding: 0;
  }

  .about-img-block-home {
    display: block;
    float: right;
    background-color: grey;
    border: 1px solid #000;
    width: 205px;
    height: 350px;
  }

  /***** FOOTER | TABLET *****/
  #footer-border .copyright p {
    padding-left: 19.5px;
    margin: 0;
  }

  #footer-no-border .copyright p{
    padding-left: 19.5px;
    margin: 0;
  }

  #footer-border ul {
    margin-right: 19.5px;
  }

  #footer-no-border ul {
    margin-right: 19.5px;
  }

  #footer-border ul li a {
    font-size: 17px;
  }

  #footer-no-border ul li a {
    font-size: 17px;
  }
}

/***** ======= BEGIN DESKTOPS ======= *****/
@media screen and (min-width:940px) {
  /*desktop styles*/

  .home-body {
      background: url('../img/corner-sketch.gif'), url('../img/wise-web-owl.gif');
      background-repeat: no-repeat, no-repeat;
      background-attachment: scroll, scroll;
      background-size: 30.5%, 47.3%;
      background-position: -29px 0px;
      height: 100%;
  }

  .corner-body {
      background: url('../img/corner-sketch.gif');
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: 30.5%;
      background-position: -29px 0px;
      height: 100%;
  }

  .background {
      height: 830px;
      background: url('../img/corner-sketch.gif');
      background-repeat: no-repeat;
      background-color: #ffffff;
  }

  /***** DESKTOP Grid *****/

  .full-width {
    width: 100%;
    margin: 0;
    vertical-align: top;
  }

  .full-width-about {
    width: 100%;
    float: left;
  }

  .half-width {
    width: 50%;
    float: left;
  }

  .two-thirds-width {
    width: calc(2/3);
    float: left;
  }

  .third-width {
    width: calc(1/3);
    float: left;
  }

  .quarter-width {
    width: 25%;
    margin: 0 5px 0 5px;
    float: left;
  }

  .fifth-width {
    width: 20%;
    float: left;
  }

  .height-140 {
    height: 140px;
  }

  /***** DESKTOP HEADER | NAVIGATION *****/
  header {
    display: flex;
    flex-flow: row;
    width: 100%;
    margin: 0;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    width: 13%;
    margin: 0;
  }

  .logo img {
    display: flex;
    width: 100%;
    height: auto;
    padding: 9% 0 0 20%;
    margin: 0;
  }

  .mobile-nav-icon {
    display: none;
  }

  .horizontal-nav {
    display: flex;
    height: 100%;
    width: 65%;
    margin: 0;
  }

  .horizontal-nav nav {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0 5% 0 10%;
    margin: 0;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  nav ul li {
    display: flex;
    padding: 75px 0 0 0;
  }

  nav ul li a {
    display: flex;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    text-transform: lowercase;
    text-decoration: none;
    font-size: 22px;
    color: #828282;
  }

  #nav-on-page {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    text-transform: lowercase;
    text-decoration: none;
    font-size: 22px;
    color: #72b648;
  }

  /***** DESKTOP | HOME *****/

  #home {
    height : 0;
    padding-bottom: 49.55%;
  }

  #home .full-width {
    padding-top: 10px;
  }

  #home h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 144px;
    line-height: 100px;
    color: #dfcde4;
    padding-left: 47px;
    padding-top: 55px;
  }

  #home h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 38px;
    font-weight: 300;
    color: #000000;
    line-height: 30px;
    text-align: right;
    padding-right: 16%;
    text-decoration: none;
  }

  #home p {
    font-family: 'Quicksand', sans-serif;
    font-size: 23px;
    font-weight: 300;
    color: #828282;
    line-height: 27px;
    padding-top: 50px;
    text-align: right;
    text-decoration: none;
  }

  #home ul li a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 19px;
    color: #000000;
    text-decoration: none;
  }

  .hello-mobile {
    display: none;
  }

  .hello {
    display: block;
  }

  #home .half-width{
    margin-top: 80px;
  }

  .developer-designer-illustrator-mobile {
    display: none;
  }

  .developer-designer-illustrator {
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: #000000;
    line-height: 33px;
    text-align: right;
    text-decoration: none;
    word-spacing: 1.5px;
  }

  /***** DESKTOP | ABOUT *****/

  .fifth-width-about {
    width: 11.5%;
  }

  .four-fifths-width-work {
    width: 88.5%;
    float: left;
    margin-top: 0px;
  }

  .jessica-mcintosh-vertical {
    padding: 0;
  }

  .mobile-img-set-top, .mobile-img-set-bottom, .home-bracket-div-mobile {
    display: none;
  }

  .work-bracket-div {
    float: left;
    padding: 0;
  }

  .about-wording-section-work {
    width: 35%;
    display: inline-block;
    float: left;
    margin: 0;
  }

  .about-img-block-work {
    width: 50%;
    height: 444px;
    display: inline-block;
    margin: 0.5% 3.7% 0 1%;
    float: right;
    background-color: lightgrey;
    border: 1px solid #000000;
  }

  .four-fifths-width-home {
    width: 87.5%;
    float: left;
    margin-top: 45px;
  }

  .home-bracket-div {
    width: 3%;
    margin-right: 5.7%;
    padding-right: 5%;
    display: inline-block;
    float: right;
  }

  .about-wording-section-home {
    width: 30%;
    margin: 0;
    margin-right: -40px;
    display: inline-block;
    float: right;
    padding-left: 0;
  }

    .about-img-block-home {
    width: 50%;
    height: 445px;
    display: inline-block;
    margin: 7px 11px 7px 91px;
    float: left;
    background-color: lightgrey;
    border: 1px solid #000000;
  }

  #about h1 {
    font-size: 102px;
    line-height: 153px;
  }

  /***
  this is still in 'trial mode'
  may be best code for future:

  writing-mode: sideways-lr;
  ***/

  .vertical {
    writing-mode: vertical-rl;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform:rotate(180deg);
    transform: rotate(180deg);
    white-space: nowrap;
    display: block;
    bottom: 0;
    line-height: 0px;
    margin-top: 253px;
    margin-left: 209px;
    margin-bottom: 0;
  }

  #about p {
    font-size: 16px;
    line-height: 20px;
  }

  .giant-bracket-work {
    font-size: 507px;
    line-height: 330px;
    margin-left: 0px;
  }

  .giant-bracket-home {
    font-size: 507px;
    line-height: 270px;
    letter-spacing: 0px;
    margin: 0px;
    padding: 0px;
  }

  .work-vertical {
    font-size: 40px;
    margin-left: 105.5px;
    margin-top: -220px;
    transform: rotate(270deg);
    white-space: nowrap;
    display: block;
    color: #fff;
  }

  .home-vertical {
    width: 5%;
    font-size: 40px;
    line-height: 0px;
    margin: -190px 0 0 82px;
    transform: rotate(270deg);
    white-space: nowrap;
    display: block;
    color: #fff;
  }

  .work-info-mobile {
    display: none;
  }

  .work-info {
    display: block;
    width: 100%;
    float: left;
    padding-left: 27px;
  }

  .home-info-mobile {
    display: none;
  }

  .home-info {
    display: block;
    width: 100%;
    margin-top: 5px;
    text-align: right;
    float: right;
  }

  /***** Graphic Designer *****/
  .dark-purple-blue {
    font-size: 29.7px;
    line-height: 27px;
  }

  /***** Illustrator *****/
  .true-purple {
    font-size: 29.7px;
    line-height: 22px;
  }

  /***** Front End Developer *****/
  .bright-purple {
    font-size: 29.7px;
    line-height: 22px;
  }

  /***** Web Designer *****/
  .warm-purple {
    font-size: 29.7px;
    line-height: 22px;
  }

  /***** HTML *****/
  .cool-red {
    font-size: 29.7px;
    line-height: 22px;
  }

  /***** CSS *****/
  .red {
    font-size: 29.7px;
    line-height: 20px;
  }

  /***** Javascript *****/
  .red-orange {
    font-size: 29.7px;
    line-height: 20px;
  }

  /***** Responsive Development *****/
  .orange {
    font-size: 29.7px;
    line-height: 20px;
  }


  /***** Wife *****/
  .green {
    color: #38B449;
    font-size: 29.7px;
    line-height: 41px;
  }

  /***** Mother *****/
  .blue-green {
    color: #00A79D;
    font-size: 29.7px;
    line-height: 25px;
  }

  /***** Proud USAF Sister *****/
  .blue {
    color: #1B75BB;
    font-size: 29.7px;
    line-height: 25px;
  }

  /***** Play *****/
  .colbalt-blue {
    color: #2A388F;
    font-size: 29.7px;
    line-height: 25px;
  }

  /***** Creative Dreamer *****/
  .true-purple-home {
    color: #652C90;
    font-size: 29.7px;
    line-height: 25px;
  }

  /***** ===== DESKTOP | PORTFOLIO ===== *****/
  #portfolio .full-width {
    height: 600px;
  }

  #portfolio .quarter-width{
    height: 600px;
    border: solid;
    border-color: #000000;
    border-width: 2px;
  }

  /***** PORTFOLIO | 5 by infinite layout system *****/
  .porfolio-thumb-col-1 {
    width: 220px;
    height: 220px;
    margin: 0 18px 23px 0;
    border: solid 1px;
    float: left;
  }

  .porfolio-thumb-col-2 {
    width: 220px;
    height: 220px;
    margin: 0 14px 23px 4px;
    border: solid 1px;
    float: left;
  }

  .porfolio-thumb-col-3 {
    width: 220px;
    height: 220px;
    margin: 0 9px 23px 9px;
    border: solid 1px;
    float: left;
  }

  .porfolio-thumb-col-4 {
    width: 220px;
    height: 220px;
    margin: 0 4px 23px 15px;
    border: solid 1px;
    float: left;
  }

  .porfolio-thumb-col-5 {
    width: 220px;
    height: 220px;
    margin: 0 0 23px 18px;
    border: solid 1px;
    float: left;
  }

  /***** Portfolio Individual page layout system *****/
  .portfolio-width-description {
    width: 540px;
    float: left;
    padding-right: 25px;
  }

  .portfolio-width-img {
    width: 635px;
    float: left;
  }

  .project-height {
    height: 20px;
  }

  /***** portfolio text and misc. styling *****/
  .illustration {
    height: 590px;
    background: url('../img/illustration-block-gray-img.png');
    background-repeat: no-repeat;
    background-color: #ffffff;
    padding: 5px;
  }

  .i-block-initial {
    height: 140px;
    width: 38px;
    padding-left: 10px;
    padding-top: 20px;
    float: left;
  }

  .i-block-letters{
    height: 140px;
    width: 210px;
    float: left;
  }

  .i {
    font-family: 'Fredericka the Great', cursive;
    font-size: 144px;
    font-weight: 600;
    line-height: 100px;
    color: #000000;
    padding-top: 40px;
  }

  .i-word-continuation {
    font-family: 'Quicksand', sans-serif;
    font-size: 38px;
    font-weight: 300;
    color: #000000;
    line-height: 30px;
    float: right;
    padding-top: 80px;
    padding-right: 21px;
  }

  .logo-design-mobile {
    display: none;
  }

  .logo-design {
    display: block;
    height: 590px;
    background: url('../img/logo-design-block-gray-img.png');
    background-repeat: no-repeat;
    background-color: #ffffff;
    padding: 5px;
  }

  .ld-block-initial {
    height: 140px;
    width: 38px;
    padding-left: 0px;
    padding-top: 0px;
    float: left;
  }

  .ld-l {
    font-family: 'Fredericka the Great', cursive;
    font-size: 72px;
    font-weight: 600;
    line-height: 72px;
    text-align: center;
    color: #000000;
    padding-top: 30px;
    padding-left: 18px;
  }

  .ld-d {
    font-family: 'Fredericka the Great', cursive;
    font-size: 72px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    color: #000000;
    padding-top: 35px;
    padding-left: 5px;
  }

  .ld-block-letters{
    height: 50px;
    width: 210px;
    float: left;
  }

  .logo-word-continuation {
    font-family: 'Quicksand', sans-serif;
    font-size: 38px;
    font-weight: 300;
    color: #000000;
    line-height: 30px;
    float: right;
    padding-top: 27px;
    padding-right: 140px;
  }

  .l-design-word-continuation {
    font-family: 'Quicksand', sans-serif;
    font-size: 38px;
    font-weight: 300;
    color: #000000;
    line-height: 30px;
    float: right;
    padding-top: 43px;
    padding-right: 111px;
  }

  .web-design-mobile {
    display: none;
  }

  .web-design {
    display: block;
    height: 590px;
    background: url('../img/web-design-image-block-gray-img.png');
    background-repeat: no-repeat;
    background-color: #ffffff;
    padding: 5px;
  }

  .wd-block-initial {
    height: 140px;
    width: 38px;
    padding-left: 0px;
    padding-top: 0px;
    float: left;
  }

  .wd-w {
    font-family: 'Fredericka the Great', cursive;
    font-size: 72px;
    font-weight: 600;
    line-height: 72px;
    text-align: center;
    color: #000000;
    padding-top: 30px;
    padding-left: 3px;
  }

  .wd-d {
    font-family: 'Fredericka the Great', cursive;
    font-size: 72px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    color: #000000;
    padding-top: 35px;
    padding-left: 5px;
  }

  .wd-block-letters{
    height: 50px;
    width: 210px;
    float: left;
  }

  .web-word-continuation {
    font-family: 'Quicksand', sans-serif;
    font-size: 38px;
    font-weight: 300;
    color: #000000;
    line-height: 30px;
    float: right;
    padding-top: 27px;
    padding-right: 152px;
  }

  .w-design-word-continuation {
    font-family: 'Quicksand', sans-serif;
    font-size: 38px;
    font-weight: 300;
    color: #000000;
    line-height: 30px;
    float: right;
    padding-top: 43px;
    padding-right: 111px;
  }

  .digital-illustration {
    height: 590px;
    background: url('../img/digital-image-block-gray-img.png');
    background-repeat: no-repeat;
    background-color: #ffffff;
    padding: 5px;
  }

  .di-block-initial {
    height: 140px;
    width: 38px;
    padding-left: 0px;
    padding-top: 0px;
    float: left;
  }

  .di-d {
    font-family: 'Fredericka the Great', cursive;
    font-size: 72px;
    font-weight: 600;
    line-height: 72px;
    text-align: center;
    color: #000000;
    padding-top: 30px;
  }

  .di-i {
    font-family: 'Fredericka the Great', cursive;
    font-size: 72px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    color: #000000;
    padding-top: 35px;
    padding-left: 10px;
  }

  .di-block-letters{
    height: 50px;
    width: 210px;
    float: left;
  }

  .digital-word-continuation {
    font-family: 'Quicksand', sans-serif;
    font-size: 38px;
    font-weight: 300;
    color: #000000;
    line-height: 30px;
    float: right;
    padding-top: 27px;
    padding-right: 125px;
  }

  .d-illustration-word-continuation {
    font-family: 'Quicksand', sans-serif;
    font-size: 38px;
    font-weight: 300;
    color: #000000;
    line-height: 30px;
    float: right;
    padding-top: 43px;
    padding-right: 29px;
  }

  #portfolio h1 {
    font-size: 27px;
    line-height: 29px;
    color: #808285;
    text-align: right;
  }

  #portfolio h2 {
    font-size: 38px;
    font-weight: 300;
    color: #000000;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
  }

  #portfolio h3 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 33px;
    font-weight: 300;
    color: #000000;
    line-height: normal;
    text-align: right;
    text-decoration: none;
  }

  #portfolio p {
    font-family: 'Quicksand', sans-serif;
    font-size: 23px;
    font-weight: 300;
    color: #828282;
    line-height: normal;
    text-align: right;
    text-decoration: none;
  }

  /***** CONTACT *****/
  #contact {
    height : 825px;
    border-bottom: solid;
    border-color: #000000;
  }

  #contact .full-width {
    padding-top: 10px;
  }

  #contact h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 144px;
    line-height: 100px;
    color: #dfcde4;
    padding-left: 47px;
    padding-top: 55px;
  }

  #contact h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 38px;
    font-weight: 300;
    color: #000000;
    line-height: 30px;
    text-align: right;
    text-decoration: none;
  }

  #contact p {
    font-family: 'Quicksand', sans-serif;
    font-size: 23px;
    font-weight: 300;
    color: #000000;
    line-height: 13px;
    text-align: right;
    text-decoration: none;
  }


  .email {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: #000000;
    line-height: 20px;
    text-align: right;
    text-decoration: none;
    word-spacing: 1.5px;
  }

  .address {
    color: #000000;
    font-size: 24px;
    text-align: right;
    text-decoration: none;
  }

  /*****  DESKTOP | FOOTER *****/

  .footer-border {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    border-top: solid #000;
    max-height: 12%;
  }

  .footer-no-border {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    max-height: 12%;
  }

  footer .half-width {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 100%;
  }

  #footer-border .copyright {
    padding-top: 0px;
    padding-left: 5px;
  }

  #footer-no-border .copyright {
    padding-top: 0px;
    padding-left: 5px;
  }

  .social-media {
    width: 100%;
    float: right;
    padding: 0;
    margin: 0;
  }

  #footer-border p {
    font-size: 17px;
    font-weight: 300;
    color: #000000;
    line-height: 15px;
    text-align: left;
    text-decoration: none;
    padding-left: 5px;
  }

  #footer-no-border p {
    font-size: 17px;
    font-weight: 300;
    color: #000000;
    line-height: 15px;
    text-align: left;
    text-decoration: none;
    padding-left: 5px;
  }

  #footer-border ul {
    float: right;
    list-style: none;
    text-align: right;
    padding-right: 5px;
    margin-top: 23px;
  }

  #footer-no-border ul {
    float: right;
    list-style: none;
    text-align: right;
    padding-right: 5px;
    margin-top: 23px;
  }

  #footer-border ul li {
    float: left;
    display: inline-block;
  }

  #footer-no-border ul li {
    float: left;
    display: inline-block;
  }

  #footer-border ul li a {
    font-size: 17px;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
  }

  #footer-no-border ul li a {
    font-size: 17px;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
  }

  #footer-border .email {
    display: block;
    line-height: 28px;
  }

  #footer-no-border .email {
    display: block;
    line-height: 28px;
  }

  #footer p {
    font-size: 17px;
    font-weight: 300;
    color: #000000;
    line-height: 15px;
    text-align: left;
    text-decoration: none;
    padding-left: 5px;
  }

  #footer ul {
    list-style: none;
    text-align: right;
    padding-right: 5px;
  }

  .about-page-footer-div {
    width: 1200px;
    height: 75px;
    margin-left: 20px;
    float: left;
  }

  #footer ul li {
    display: inline-block;
  }

  #footer ul li a {
    font-size: 17px;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
  }
}

/***** ======= END DESKTOP ======= *****/

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
